@font-face {
  font-family: "Arima Madurai";
  src: url("./fonts/ArimaMadurai-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Arima Madurai";
  src: url("./fonts/ArimaMadurai-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Arima Madurai";
  src: url("./fonts/ArimaMadurai-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Arima Madurai";
  src: url("./fonts/ArimaMadurai-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Arima Madurai";
  src: url("./fonts/ArimaMadurai-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Arima Madurai";
  src: url("./fonts/ArimaMadurai-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Arima Madurai";
  src: url("./fonts/ArimaMadurai-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Arima Madurai";
  src: url("./fonts/ArimaMadurai-Black.ttf");
  font-weight: 900;
}
html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
}
html,
body,
#root {
  margin: 0;
  color: var(--color-text-basic);
}

#app {
  background: var(--color-background);
  height: 100%;
  width: 100%;
  font-family: "Arima Madurai", Helvetica, sans-serif;
  padding-bottom: 40px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
